<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
            <ion-title>Place a new request</ion-title>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="requestForm" (ngSubmit)="saved()">
        <ion-list>
            <ion-item>
                <ion-icon name="build-outline"></ion-icon>
                <ion-label>category</ion-label>
                <ion-select formControlName="category" [(ngModel)]="this.currentOrder.category"
                            placeholder="Select One">
                    <ion-select-option *ngFor="let category of vendorCategory"
                                       value="{{category}}">{{category}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-icon name="calendar-outline"></ion-icon>
                <ion-label>Start Date</ion-label>
                <ion-datetime formControlName="time" value="1990-02-19" placeholder="Select Date"
                              [(ngModel)]="this.currentOrder.time"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-icon name="time-outline"></ion-icon>
                <ion-label>
                    Start Time
                </ion-label>
                <ion-datetime formControlName="time" display-format="h:mm A" picker-format="h:mm A"
                              value="1994-12-15T13:47:20.789"
                              hour-values="7,8,9,10,11,12,13,14,15" minute-values="10,20,30,40,50,60"
                              [(ngModel)]="this.currentOrder.time"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">
                    <ion-icon name="arrow-redo-outline"></ion-icon>
                    Title
                </ion-label>
                <ion-input formControlName="title" [(ngModel)]="this.currentOrder.title"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">
                    <ion-icon name="document-text-outline"></ion-icon>
                    description
                </ion-label>
                <ion-textarea formControlName="description" [(ngModel)]="this.currentOrder.description"></ion-textarea>
            </ion-item>

            <ion-item detail="true" (click)="openShowAddress()">
                <ion-icon name="home-outline"></ion-icon>
                <label>{{this.addressService.addresses?.length ? 'select an address' : 'add an new address'}}</label>
            </ion-item>
            <ion-button class="edit-button" type="submit" expand="full">
                SAVED
            </ion-button>
        </ion-list>
    </form>
</ion-content>




