<ion-content>
  <ion-title>Your Address</ion-title>
  <ion-button expand="block" >add a new address</ion-button>
  <ion-title>Personal Address</ion-title>
  <ion-list>
    <ion-card>
      <ion-card-title>
        JiamingPan
      </ion-card-title>
      <ion-card-content>
        <p>930 benge driver,105D</p>
        <p>ARLINGTON,TX,76013-26</p>
        <p>United States</p>
        <p>PhoneNumber:6822345804</p>
        <div style="display: flex">
          <ion-button size="small">Edit</ion-button>
          <ion-button size="small">Remove</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>
