ion-button{
  width: 80%;
  margin: 0 auto;
  color: white;
}
ion-content{
  ion-title{
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

ion-card{
  padding: 30px;
  margin: 1px;
  background-color:  #fffbfb;

  ion-card-content{
    color: black;
    p{
      font-size: 16px;
    }
    ion-button{
      width: 33%;
    }
  }
}
