<div id="closedButton">
  <ion-icon name="close" (click)="dismiss()"></ion-icon>
</div>


<ion-content *ngIf="!ifVerificated">

  <ion-item lines="none">
    <div class="text-container">
      <ion-label position="stacked">Send a code to {{phoneNumber}}</ion-label>


        <ion-label position="floating">Verification code</ion-label>
        <ion-input  [(ngModel)]="verificationCode"></ion-input>
        <label style="color: red" *ngIf="!ifverificationCodeRight">verification Code is wrong</label>



    </div>
    <ion-button class="edit-button" expand="full" (click)="verifyPhoneNumber()" *ngIf="!ifcodeSent">
      Send a code
    </ion-button>
    <ion-button class="edit-button" expand="full" (click)="verifyCode()" *ngIf="ifcodeSent">
      VERIFY
    </ion-button>
  </ion-item>
</ion-content>


<ion-content *ngIf="ifVerificated">


  <ion-item lines="none">
    <div class="text-container">
      <ion-label position="stacked" style="color: green;font-weight: bold">Verify your phone number Successfuly</ion-label>

      <ion-label position="floating">please input your new password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
      <label style="color:red">{{tipOnPassword}}</label>



    </div>
    <ion-button class="edit-button" expand="full" (click)="submitPassword()">
       confirm
    </ion-button>
  </ion-item>

</ion-content>

<div id='recaptcha-container'></div>

