<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098703889152-ug6plgregupbm4ku4amff430nptg9knr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098703889152-ug6plgregupbm4ku4amff430nptg9knr</string>
	<key>API_KEY</key>
	<string>AIzaSyAmEtAFSCyYTxx2tg-Rg3F8yoLlv5iZblY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098703889152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.uta.cse.serveme</string>
	<key>PROJECT_ID</key>
	<string>serve-me-ionic</string>
	<key>STORAGE_BUCKET</key>
	<string>serve-me-ionic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098703889152:ios:30c8c1a8ea0cda574e49e5</string>
	<key>DATABASE_URL</key>
	<string>https://serve-me-ionic.firebaseio.com</string>
</dict>
</plist>