ion-content{
  ion-button{
    --background: black;
  }
ion-card{
  padding: 10px;
  margin-top:0px;
  margin-bottom: 0px;


  ion-card-content{
    color: black;
    p{
      font-size: 16px;
    }
    ion-button{
      width: 33%;
      --background: black;
    }
    ion-item{
      font-weight: 500;
    }
  }
}
}




