<ion-content>
  <ion-list *ngFor="let address of this.AddresList">
    <ion-card>
      <ion-card-title>
        {{address.name}}
      </ion-card-title>
      <ion-card-content>
        <p>{{address.street}}</p>
        <p>{{address.city}},{{address.state}},{{address.zipCode}}</p>
        <p>PhoneNumber:{{address.phone}}</p>
        <div style="display: flex">
          <ion-button size="small" (click)="selected(address)">select</ion-button>

        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <ion-button expand="block" (click)="updateAddress()">add a new address</ion-button>
</ion-content>
