<ion-content>
  <div id="closedButton">
    <ion-icon name="close" (click)="dismiss()"></ion-icon>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-title>
        Your Vendor
      </ion-title>
    </ion-list-header>


    <ion-item>
    <ion-label>Type</ion-label>
    <ion-select placeholder="Appliances" (ionChange)="onTypeChange($event)" >
      <ion-select-option *ngFor="let category of vendorCategory"
                         value="{{category}}">{{category}}</ion-select-option>
    </ion-select>
  </ion-item>

  </ion-list>

  <ion-button expand="full"  class="submit" (click)="submit()">find result</ion-button>
</ion-content>

