<ion-header>
    <ion-toolbar>
        <ion-title>
            My
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-avatar slot="start">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
            <h2>{{user ? 'Welcome ' + user.username : 'Please login'}}</h2>
            <p>{{user ? 'Your ROLE is ' + user.role : ''}}</p>
        </ion-label>
    </ion-item>
    <ion-grid>
        <ion-row>
            <ion-button (click)="toLogin()">login</ion-button>
            <ion-button (click)="toRegister()">register</ion-button>
            <ion-button (click)="toLogout()">logout</ion-button>
            <ion-button (click)="toFingerPrint()">finger</ion-button>
        </ion-row>
        <ion-row>

        </ion-row>
    </ion-grid>
</ion-content>
