<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
        <ion-grid>
            <ion-row>
                <ion-title>Orders</ion-title>

            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="waiting">
        <ion-segment-button value="waiting">
            <ion-label>waiting</ion-label>
        </ion-segment-button>
        <ion-segment-button value="biding">
            <ion-label>biding</ion-label>
        </ion-segment-button>
        <ion-segment-button value="progress">
            <ion-label>progress</ion-label>
        </ion-segment-button>
        <ion-segment-button value="completed">
            <ion-label>completed</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-list *ngFor="let order of orders">
        <ion-card>
            <img src="{{order.imgUrl}}" alt=""/>
            <ion-card-header>
                <ion-card-title>{{order.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        price:{{order.price}}
                    </ion-item>
                    <ion-item>
                        time:{{order.time}}
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
