<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar showCancelButton="always"></ion-searchbar>
  <ng-container *ngIf="serviceProviderView">
    <ion-segment (ionChange)="segmentChanged($event)" value="available">
      <ion-segment-button value="available">
        <ion-label>Available</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bidding">
        <ion-label>Bidding</ion-label>
      </ion-segment-button>
      <!-- <ion-segment-button value="progress">
      <ion-label>progress</ion-label>
    </ion-segment-button>
    <ion-segment-button value="completed">
      <ion-label>completed</ion-label>
    </ion-segment-button> -->
    </ion-segment>
  </ng-container>
  <ng-container *ngIf="serviceProviderView">
    <ion-list *ngFor="let order of orders">
      <ion-card (click)="orderDetailsModal(order)">
        <img src="{{order.imgUrl}}" alt="" />
        <ion-card-header>
          <ion-card-title>{{order.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              Best Bid:{{order.price}}
            </ion-item>
            <ion-item>
              Time:{{order.time}}
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>
</ion-content>
