<ion-header>
    <ion-toolbar>
        <ion-title>Orders</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="Pending">
        <ion-segment-button value="Biding">
            <ion-label>Biding</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Pending">
            <ion-label>Pending</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Progressing">
            <ion-label>Progressing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Completed">
            <ion-label>Completed</ion-label>
        </ion-segment-button>
    </ion-segment>
    <ion-list *ngFor="let order of orders">
        <ion-card>
            <img src="{{order.imgUrl}}" alt=""/>
            <ion-card-header>
                <ion-card-title>{{order.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                        price:{{order.price}}
                    </ion-item>
                    <ion-item>
                        time:{{order.time}}
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
