ion-content {
  //--background: linear-gradient(0deg, var(--ion-color-light), var(--ion-color-primary));

}


.paz {
  position: relative;
  z-index: 10;
}

.auth-page {
  text-align: center;
  --background: linear-gradient(135deg, var(--ion-color-light), var(--ion-color-end));

  .grid {
    padding: 0;

    .col {
      padding: 0;
    }
  }

  .btn-group {
    .button-ios,
    .button-md {
      border-radius: 0;

      &:first-of-type {
        border-radius: 2px 0 0 2px;
      }

      &:last-of-type {
        border-radius: 0 2px 2px 0;
      }
    }
  }

  .auth-content {
    margin: 0 5%;

    .logo {
      width: 600px;
      height: 70px;
      margin: 50px 30px 10px;
      border-radius: 10%;
      background: url("../../assets/img/logo.png") no-repeat;
      background-size: 100%;
    }
    ion-item {
      --background: transparentize
    }

    //.list-form {
    //  padding: 0;
    //  margin-bottom: 0;
    //
    //  ion-item {
    //  //  background: none;
    //    padding: 0;
    //
    //    &:first-child {
    //      border-top: none;
    //    }
    //
    //    &:after {
    //      display: none;
    //    }
    //
    //    ion-label {
    //      font-size: 1em;
    //      color: var(--ion-color-light);
    //    }
    //
    //    ion-input {
    //      color: var(--ion-color-light);
    //    }
    //  }
    //}
  }

}


#closedButton{
  text-align: left;
  margin: 20px 20px;
  font-size: 30px;
}
