<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar color="dark" class="user-profile">
            <ion-item margin-bottom>
                <ion-avatar slot="start" class="user-avatar">
                    <img src="../../assets/img/avatar.png" alt="">
                </ion-avatar>
                <ion-label>
                    <ion-text color="medium">
                        <h1 *ngIf="user"><strong>{{user.username}}</strong></h1>
                        <h1 *ngIf="!user" (click)="toLogin()"><strong>Sign in</strong></h1>
                    </ion-text>
                    <ion-text color="primary" *ngIf="user">
                        <h2>point: 66</h2>
                    </ion-text>
                    <ion-text color="primary">
                        <h2 *ngIf="!user" (click)="toRegister()">Sign up</h2>
                    </ion-text>
                </ion-label>
            </ion-item>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <ion-list-header>
                <ion-label>Menu</ion-label>
            </ion-list-header>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of menuPages">
                <ion-item [routerLink]="[p.url]">
                    <ion-icon slot="start" [name]="p.icon" color="primary"></ion-icon>
                    <ion-label>
                        {{p.title}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngIf="user">
                <ion-item>
                    <ion-icon slot="start" name="hammer-outline" color="primary"></ion-icon>
                    <ion-label>
                        Service Provider
                    </ion-label>
                    <ion-toggle color="secondary"></ion-toggle>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" *ngIf="user">
                <ion-item (click)="toLogout()">
                    <ion-icon slot="start" name="log-out-outline" color="primary"></ion-icon>
                    <ion-label>
                        Sign out
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-menu">
    <ion-fab-button (click)="openMenu()" color="secondary">
        <ion-icon name="grid-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
<!--<ion-tabs>-->
<!--    <ion-tab-bar slot="bottom">-->
<!--        <ion-tab-button tab="dashboard">-->
<!--            <ion-icon name="apps"></ion-icon>-->
<!--            <ion-label>Dashboard</ion-label>-->
<!--        </ion-tab-button>-->
<!--        <ion-tab-button tab="orders">-->
<!--            <ion-icon name="clipboard"></ion-icon>-->
<!--            <ion-label>Orders</ion-label>-->
<!--        </ion-tab-button>-->
<!--    </ion-tab-bar>-->
<!--</ion-tabs>-->
