<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="dashboard">
            <ion-icon name="apps"></ion-icon>
            <ion-label>Dashboard</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="tab2">
            <ion-icon name="finger-print"></ion-icon>
            <ion-label>TBD</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="orders">
            <ion-icon name="clipboard"></ion-icon>
            <ion-label>Orders</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="me">
            <ion-icon name="person"></ion-icon>
            <ion-label>Me</ion-label>
        </ion-tab-button>

<!--        <ion-tab-button tab="profile2">-->
<!--            <ion-icon name="profile1"></ion-icon>-->
<!--            <ion-label>profile</ion-label>-->
<!--        </ion-tab-button>-->
    </ion-tab-bar>

</ion-tabs>
