#closedButton{
  text-align: left;
  margin: 20px 20px;
  font-size: 30px;
}

.submit{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70%;
}

ion-item{
  padding: 30px;
}

.floatPrice{
  padding: 40px;

}


ion-title{
  padding: 40px;
}


ion-range {
  --knob-size: 30px;
  --pin-color: primary
}
