<ion-header>
    <ion-toolbar>
        <ion-title>
            profile
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-avatar (click)="toMe()" slot="start">
            <img src="../../assets/avatar.png" alt="">
        </ion-avatar>
        <ion-label>
            <h2>{{user ? 'Welcome ' + user.username : 'Please login'}}</h2>
            <p>{{user ? 'Your ROLE is ' + user.role : ''}}</p>
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-avatar>
            <ion-icon name="person"></ion-icon>
        </ion-avatar>
        <ion-label>
            <h1>{{'Username'}}</h1>
            <p>{{user ? user.username : ''}}</p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <ion-icon name="call"></ion-icon>
        </ion-avatar>
        <ion-label>
            <h1>{{'Phone'}}</h1>
            <p>{{user ? user.phone : ''}}</p>
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-avatar>
            <ion-icon name="mail"></ion-icon>
        </ion-avatar>
        <ion-label>
            <h1>{{'Email'}}</h1>
            <p>{{user ? user.email : ''}}</p>
        </ion-label>
    </ion-item>

<!--    <ion-grid>-->
<!--        <ion-row>-->
<!--            <ion-button (click)="toLogin()">login</ion-button>-->
<!--            <ion-button (click)="toRegister()">register</ion-button>-->
<!--            <ion-button (click)="toLogout()">logout</ion-button>-->
<!--            <ion-button (click)="toFingerPrint()">finger</ion-button>-->
<!--        </ion-row>-->
<!--    </ion-grid>-->
</ion-content>
