<ion-header>
  <ion-toolbar>
    <ion-title>
      My Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-header" (click)="selectImage()">
    <div class="profile-userpic">
      <ion-avatar slot="start">
        <img
          src="{{this.user?(this.user.photoUrl?this.user.photoUrl:this.default_photoUrl):this.default_photoUrl}}"
          alt=""
        />
        <ion-icon name="create"></ion-icon>
        <ion-label> </ion-label>
      </ion-avatar>
    </div>

    <!-- <ion-label>
                        <h2>{{user ? 'Welcome ' + user.username : 'Please login'}}</h2>
                        <p>{{user ? 'Your ROLE is ' + user.role : ''}}</p>
                    </ion-label> -->
  </div>
  <div class="name-container" (click)="updateNameModal()">
    <ion-item>
      <ion-avatar>
        <div class="name-icon">
          <ion-icon name="person"></ion-icon>
        </div>
      </ion-avatar>
      <ion-label>
        <h1>{{'Name'}}</h1>
        <p>{{user ? user.username : user_name}}</p>
      </ion-label>
      <ion-button (click)="updateNameModal()" fill="clear" color="medium">
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div class="phone-container" (click)="updatePhonemModal()">
    <ion-item>
      <ion-avatar>
        <div class="phone-icon">
          <ion-icon name="call"></ion-icon>
        </div>
      </ion-avatar>
      <ion-label>
        <h1>Phone</h1>
        <p>{{user ? user.phone : user_phone}}</p>
      </ion-label>
      <ion-label *ngIf="user?.phone">
        <h2 class="verified">
          verified
        </h2>
      </ion-label>
      <ion-button fill="clear" color="medium">
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div class="email-container" (click)="updateEmailModal()">
    <ion-item>
      <ion-avatar>
        <div class="email-icon">
          <ion-icon name="mail"></ion-icon>
        </div>
      </ion-avatar>
      <ion-label>
        <h1>{{'Email'}}</h1>
        <p>{{user ? user.email : user_email}}</p>
      </ion-label>
      <ion-label>
        <h2
          [ngClass]="{ 'verified': email_verified == 'verified', 'unverified':
          email_verified == 'unverified' }"
        >
          {{email_verified}}
        </h2>
      </ion-label>
      <ion-button fill="clear" color="medium">
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </div>

  <div class="password-container" (click)="updatePasswordModal()">
    <ion-item>
      <ion-avatar>
        <div class="password-icon">
          <ion-icon name="lock-open"></ion-icon>
        </div>
      </ion-avatar>
      <ion-label>
        <h1>{{'Password'}}</h1>
        <p>{{user_password}}</p>
      </ion-label>
      <ion-button fill="clear" color="medium">
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
      </ion-button>
    </ion-item>
  </div>
</ion-content>
