<ion-header>
    <ion-toolbar>
        <ion-title>Customer Dashboard</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar showCancelButton="always" (ionChange)="doSearch($event)" debounce="1000"></ion-searchbar>
    <ion-row class="filter">
        <ion-button (click)="typeModal()" expand="full" fill="outline">
            <ion-label class="unprocessed" *ngIf="!this.filterService._typeFilled ">
                type
                <ion-icon class="unprocessed" name="arrow-down"></ion-icon>
            </ion-label>
            <ion-label class="smallFont" color="primary" *ngIf="this.filterService._typeFilled">
                {{this.filterService.displayType()}}
            </ion-label>
        </ion-button>
        <ion-button (click)="priceModal()" expand="full" fill="outline">
            <ion-label class="unprocessed" *ngIf="!this.filterService._priceFilled ">
                Price
                <ion-icon name="arrow-down" class="unprocessed"></ion-icon>
            </ion-label>
            <ion-label class="smallFont" color="primary" *ngIf="this.filterService._priceFilled">
                $ {{this.filterService.minPrice}} - {{this.filterService.maxPrice}}
            </ion-label>
        </ion-button>

        <ion-button (click)="sortModal()" expand="full" fill="outline">
            <ion-label class="unprocessed" *ngIf="!this.priceOrderFilled && !this.rateOrderFilled ">
                sort
                <ion-icon name="arrow-down" class="unprocessed"></ion-icon>
            </ion-label>
            <ion-label color="primary" *ngIf="priceOrderFilled">
                price
                <ion-icon name="arrow-down" *ngIf="this.pricedesc"></ion-icon>
                <ion-icon name="arrow-up" *ngIf="!this.pricedesc"></ion-icon>
            </ion-label>
            <ion-label color="primary" *ngIf="rateOrderFilled">
                rate
                <ion-icon name="arrow-down" *ngIf="this.ratedesc"></ion-icon>
                <ion-icon name="arrow-up" *ngIf="!this.ratedesc"></ion-icon>
            </ion-label>
        </ion-button>


    </ion-row>
    <ion-list *ngFor="let vendor of vendors">
        <ion-card color="" >
            <ion-card-header>
                <ion-card-title>{{vendor.name}}</ion-card-title>
                <ion-card-subtitle>{{vendor.categories}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                <ion-item color="">
                    <ion-label class="pricehour">
                        <h1>${{vendor.price}}/hour</h1>
                        <ion-label>{{'9AM-9PM'}}</ion-label>
                        <ion-label>{{'Mon Tues Wed Thurs Fri Sat Sun'}}</ion-label>
                    </ion-label>
                    <img src="../../assets/category/{{vendor.categories&&vendor.categories[0]}}.png" alt="">
                </ion-item>
                <div class="ratingInformation">
                    <ion-icon class="readonlyRating" *ngFor="let i of [1, 2, 3, 4, 5]" name="star" size="small">
                    </ion-icon>
                    <ion-button color="dark" (click)="newRequest(vendor)" style="float:right">order</ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </ion-list>

</ion-content>
