<ion-header>
    <ion-toolbar color="primary">
        <ion-title >Customer</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-refresher slot="fixed" >
        <ion-refresher-content
                pullingIcon="arrow-dropdown"
                pullingText="Pull to refresh"
                refreshingSpinner="circles"
                refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-searchbar showCancelButton="always"></ion-searchbar>
    <ion-row class="filter">
        <ion-button expand="full" fill="outline">
            type
            <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
        <ion-button expand="full" fill="outline">
            price
            <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
        <ion-button expand="full" fill="outline">
            time
            <ion-icon name="arrow-down"></ion-icon>
        </ion-button>
    </ion-row>
    <ion-list >

    </ion-list>
</ion-content>
