/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@import '~firebaseui/dist/firebaseui.css';


#closedButton{
  text-align: left;
  margin: 20px 20px;
  font-size: 30px;
}

.my-custom-modal-css .modal-wrapper {
  height: 40%;
  top: 60%;
  position: absolute;
  display: block;
}

.emptyTips{
  margin:50% 50% 70% 30%;
  p{
    width: 40ch;
    font-size: 30px;
    font-family: fantasy;
    font-weight: 400;
    color: #86888f;
  }
}

ion-header{
  ion-toolbar{
    --background: black;
    color: white;
  }
}

ion-fab-button{
  --background: black;
}

ion-popover {
  --height: 50%;
  --width: 85%;
  ion-backdrop {
    opacity: 0.5 !important;
  }
  .popover-wrapper {
    .popover-content {
      //width:80vw;
      //height: 66vw;
      max-width: 500px;
    }
  }
}


