<ion-header>
  <ion-toolbar>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Mute</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Notification</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Location</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>AutoUpdate</ion-label>
      <ion-toggle color="secondary"></ion-toggle>
    </ion-item>
<!--    <ion-item (click)="appUpdate()">-->
<!--      <ion-icon slot="start" name="log-out-outline" color="black"></ion-icon>-->
<!--      <ion-label>-->
<!--        {{ shouldUpdate ? 'App has new version!' : 'Already latest'}}-->
<!--      </ion-label>-->
<!--    </ion-item>-->
  </ion-list>
</ion-content>
